<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizarra</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/lumen.bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body>
    <main class="bg">
        <section id="login">
            <div class="col-md-4  m-auto  card mb-3">
                <h3 class="card-header">Iniciar Sesión</h3>

                <div class="card-body">
                    <form id="ingresar" action="ingresar" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo</label>
                            <input type="email" class="form-control" id="correo" name="correo"
                                placeholder="Ingresar correo">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="contraseña">
                        </div>

                        <input type="submit" class="btn btn-block btn-primary" value="Ingresar" />
                        <p class=" text-danger float-right" id="error"></p>
                    </form>
                </div>

                <a class="text-center pb-4" href="/registro">Registrate</a>
            </div>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {//WHEN DOOM CARGADO
            let params = new URLSearchParams(window.location.search);//url de ubicación buscar parametros get
            var error = document.getElementById('error');//llenado de Error
            var correo = document.getElementById('correo');//recuperación de correo
            correo.value = params.get('correo');
            error.innerHTML = params.get('error');
        });
    </script>

</body>

</html>