<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizarra</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/lumen.bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.css" />

    <script src="assets/fontawesome/js/all.js"></script>
    <script src="assets/fontawesome/js/fontawesome.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body class="bg">
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/principal">Pizarras</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/listapizarras">Lista Pizarras
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="nombre de pizarra">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row" id="listpizarras">

                </div>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            RequestAjax(
                "GET",
                "/getpizarras",
                data => {
                    var listpizarras = document.getElementById('listpizarras');
                    var htmlpizarra = "";
                    data.forEach(item => { htmlpizarra += componenteCardPizarra(item.titulo, item.img, item.codigo); });
                    listpizarras.innerHTML = htmlpizarra;
                })
        });

        var RequestAjax = function (http, url, callback) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    callback(JSON.parse(xhttp.responseText));
                } else {
                    return "REQUEST ERROR";
                }
            };
            xhttp.open(http, url, true);
            xhttp.send();
        }
        var goto = (codigo) => {
            localStorage.setItem("pizarra",codigo);
            window.location="/pizarra";
        }

        var componenteCardPizarra = function (titulo, img, codigo) {
            return `<div class="col-md-4 p-2">
                        <div class="card  text-center">
                            <div
                                class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                                ${titulo}
                                <button class="btn btn-danger">
                                    <i class="text-white fas fa-trash"></i>
                                </button>
                            </div>
                            <hr>
                            <img src="${img}" alt="" width="100%">
                            <hr>
                            <div class="card-body">
                                <!--p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, quisquam?</p-->
                                <a href="#" onclick="goto(${codigo})" class="btn btn-success btn-block">Entrar a Pizarra</a>
                            </div>
                        </div>
                    </div>`
        }
    </script>
</body>

</html>