<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizarra</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://unpkg.com/konva@7.0.3/konva.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/lumen.bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.7/uuid.min.js"></script>
    <script src="/assets/js/newindex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/principal">Pizarras</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/listapizarras">Lista Pizarras
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="nombre de pizarra">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!--<div class="modal" id="login" data-toggle="modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Iniciar Sesión</h5>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="inuser" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="iniciarchat();">Ingresar al Chat</button>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="modal" id="modalTexto">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title">Caja de Texto</h5>

                    </div>
                    <div class="modal-body">
                        <textarea cols="3" id="inputTexto" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="btnTextGuardar" class="btn btn-primary">Guardar</button>
                        <button type="button" id="btnTextEditar" style="display: none;"
                            class="btn btn-primary">Editar</button>
                    </div>
                </div>
            </div>
        </div>
        <section class="d-flex" id="trabajo">

            <article class="d-flex justify-content-start align-items-center" style="height: 100vh;">
                <ul class="list-group" id="lista-opciones">
                    <li class="list-group-item"><img src="assets/img/cursor.png" alt=""></li>
                    <li class="list-group-item"><img src="assets/img/rectangulo.png" alt=""></li>
                    <li class="list-group-item"><img src="assets/img/circulo.png" alt=""></li>
                    <li class="list-group-item"><img src="assets/img/pencil.png" alt=""></li>
                    <li class="list-group-item"><img src="assets/img/eraser.png" alt=""></li>
                    <li class="list-group-item"><img src="assets/img/laser.png" alt=""></li>
                    <li class="list-group-item"><img src="assets/img/T.png" alt=""></li>
                    <li class="list-group-item"><img src="assets/img/trash.png" alt=""></li>

                </ul>
            </article>
            <article class="d-flex justify-content-center align-items-center" style="width: 90%">
                <div class="d-flex card bg-light mb-3" style="width: 80%;height: 80%;">
                    <div class="card-header ">Pizarra</div>
                    <div id="container" class="card-body"
                        style="margin:0px;padding: 0px;width: 100%;height: 100vh;background: white;">

                    </div>
                </div>
            </article>
            <!--article class="d-flex justify-content-end align-items-start" style="width: 10%;">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>Usuarios</h3>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-group" id="lista-usuarios">
                        </ul>
                    </li>
                </ul>
            </article-->

            </article>
        </section>
    </main>
    <script>
        function window_mouseout(obj, evt, fn) {

            if (obj.addEventListener) {

                obj.addEventListener(evt, fn, false);
            }
            else if (obj.attachEvent) {

                obj.attachEvent('on' + evt, fn);
            }
        }
        window_mouseout(document, 'mouseout', event => {

            event = event ? event : window.event;

            var from = event.relatedTarget || event.toElement;

            // Si quieres que solo salga una vez el mensaje borra lo comentado
            // y así se guarda en localStorage

            // let leftWindow   = localStorage.getItem( 'leftWindow' ) || false;

            if ( /* !leftWindow  && */ (!from || from.nodeName === 'HTML')) {

                // Haz lo que quieras aquí
                Swal.fire({
                    icon:'question',
                    title: '¿Quieres guardar los cambios?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: `Guardar`,
                    denyButtonText: `No Guardar`,
                    cancelButtonText:'Cancelar'
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        Swal.fire('Cambios Guardados!', '', 'success')
                    } else if (result.isDenied) {
                        Swal.fire('Ultimos cambios Eliminados', '', 'info')
                    }
                })
                //alert('¿Guardamos todo el avance?');
                // localStorage.setItem( 'leftWindow', true );
            }
        });
    </script>
</body>

</html>